 
@{
    ViewData["Title"] = "Home Page version 4";
}
<div class="row">
    <h2>Post List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Post Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
             <tr><td>WELCOME TO CI/CD</td></tr>
        </tbody>
    </table>
</div>